
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	text-align: center;
	text-decoration: underline;
}


#camwrap {
	max-height: 65%;
	width: 100%;
	/*margin-left: 15%;*/
/*	width:200px;
	height:150px;
	position:relative;
	display:inline-block;
	overflow:hidden;*/
}

#camera {
/*	position:absolute;
	top:50%;
	min-height:100%;
	display:block;
	left:50%;
	transform: translate(-50%, -50%);
	min-width:100%;*/
	border: 1px solid;
	width: 100%;
	height: auto;
	background: lightgrey;
}

#ultrasonic {
	width: 30px;
	height: 100%;
}

#controls {
	width: 100%;
	height: 35%;
	text-align: center;
}
#wheel {
	height: 100%;
	width: auto;
}
#starter {
	cursor: pointer;
	height: 40%;
	width: auto;
}
#starter.started {
	content: url("../img/engineStarted.jpg");
}
#starter.stopped {
	content: url("../img/engineStopped.jpg");
}

#sensors {
	background: lightgrey;
	width: 50%;
	float: left;
}

circle {
	fill: black;
}
.axis {
	fill: none;
	stroke: black;
}

#arrow {
	 stroke-width: 5;
}
.arrow {
	fill: darkblue;
	stroke: darkblue;
}
#triangle {
	stroke: none;
}

.linetitle {
	font-weight: bold;
}
#zrect {
	fill: darkgreen;
}
text {
	text-anchor: middle;
}
text.val {
	font-size: 0.6em;
}
#xypath {
	fill: none;
	stroke: lightblue;
}
