html, body {	
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
}
button {
	visibility: hidden;
}
table td {
	padding-right: 20px;
}
thead {
	font-weight: bold;
}
tbody tr {
	font-size: 0.9em;
	cursor: pointer;
}
tbody tr:hover {
	color: mediumblue;
}