html, body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

.collapsed {
	border-collapse: collapse;
}
.stat thead {
	font-weight: bold;
}
.stat thead td:nth-child(2) {
	background-color: #ddd;
}
.stat td {
	padding: 4px 10px;
}
.stat td:first-child {
	font-weight: bold;
}
.stat tbody td:nth-child(2) {
	font-weight: bold;
}
.stat tbody tr:nth-child(1) {
	background-color: hsl(210, 70%, 90%);
}
.stat tbody tr:nth-child(2) {
	background-color: hsl(340, 70%, 90%);
}
.stat tbody tr:nth-child(1) td:nth-child(1),
.stat tbody tr:nth-child(1) td:nth-child(2) {
	background-color: hsl(210, 70%, 80%);
}
.stat tbody tr:nth-child(2) td:nth-child(1),
.stat tbody tr:nth-child(2) td:nth-child(2) {
	background-color: hsl(340, 70%, 80%);
}

